OPENAI_API_KEY = your OPENAI_API_KEY 
MODEL_FLAG = openai
DATABASE_URL = mysql+pymysql://{db_user_name}:{db_password}@localhost/{db_name}
JWT_SECRET_KEY = your JWT_SECRET_KEY
JWT_ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 30